* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bungee Inline', cursive;
    color: #25E014;
    background-image: url('../images/shell_noprompt.svg');
    background-position: 50% 25%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 120%;
    background-color: #414288;
}


#title {
    font-size: 4em;
    padding-top: 2%;
    border-bottom: 1px solid #25E014;
    position: relative;
    top: 10px;
}

#subtitle {
    font-size: 1.5em;
    margin-top: 0;
    padding-bottom: 5%;
    position: relative;
    top: 10px;
}



#info-text {
    margin-top: -4rem;
    color: #25E014;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.1rem;
}

#directions-text {
    margin-top: -3rem;
}

#stats-text {
    font-family: 'Geostar', cursive;
}

#winLoss-text {
    font-family: 'Share Tech Mono', monospace;
}

